{% assign book = site.data.books[page.book_id] %}
{% for sec in book.sections %}
    {% if page.url contains sec.url %}
        {% assign section = sec %}
    {% endif %}
{% endfor %}

<section>
    <div class="container mt-2">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <!--<div class="section-title">
                    <h2><span>{{ section.title }}</span></h2>
                </div>-->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!--<i class="fas fa-book"></i>&nbsp;-->
                <div style="background-color:lightgray" class="p-1 mb-3"><b> {{book.title}}</b></div>
                <ol class="pl-3">
                    {% for section in book.sections %}
                    <li>
                        {% if page.url contains section.url %}
                        {{section.title}}
                        {% else %}
                        <a href="/{{section.url}}" >{{section.title}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="col-sm-8">
                
                <!-- Post Featured Image -->
                {% if page.image %}<img class="img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}">{% endif %}
                <!-- End Featured Image -->
                
                <div class="article-post">
                    {{content}}
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
</section>

<!-- Begin Comments
================================================== -->
{% if page.comments != false %}
<div class="container">
    <div id="comments" class="row justify-content-center mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>
</div>
{% endif %}
<!--End Comments
================================================== -->