.custom-cheat-sheet-table{
    width: 100%;
    margin-bottom: 1rem;
}
.custom-cheat-sheet-table tr:nth-child(odd){
	background-color: rgb(217, 217, 217);
}
.custom-cheat-sheet-table tr:nth-child(even){
	background-color: rgb(242, 242, 242);
}
.custom-cheat-sheet-table tr td:first-child {
    width: 30%;
}
.custom-cheat-sheet-table tr td{
	padding: 10px 5px 10px 5px;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.article-post {
    font-size:0.9rem;
    line-height:1.5;
}
.article-post h5{
    margin-bottom: 1rem;
}