---
layout: default
---
{% assign book = site.data.books[page.book_id] %}
<section>
    <div class="section-title">
        <h2><span><i class="fas fa-book"></i>&nbsp;{{ book.title }}</span></h2>
    </div>
    <div class="d-sm-flex d-md-flex">
        <div class="book-toc">
            <h2>&nbsp;</h2>
            <ul class="markdown-toc">
                {% for section in book.sections %}
                <li>
                    <a href="/books/{{page.book_id}}/{{section.url}}" >{{section.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div>
                <div class="article-post">
                    {{content}}
                </div>
        </div>
    </div>
</section>