---
layout: default
---
{% if page.file == "docker-images-library" %}
{% assign doclist = site.data.library.docker-images-library  %}
{% elsif page.file == "spring-boot-dependencies-library"%}
{% assign doclist = site.data.library.spring-boot-dependencies-library  %}
{% endif %}

<div class="container-fluid">
    <div class="row">

        <!--<div class="col-md-2 pl-0">
            <div class="book-toc">
                <ul class="markdown-toc library-toc">
                    {% for section in doclist.sections %}
                    <li>
                        <a href="#{{section.id}}" >{{section.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>-->
        <div class="col-md-12 flex-first flex-md-unordered">
            <div class="mainheading">
                <h1 class="posttitle">{{ page.title }}</h1>
            </div>

            <section>
                {{content}}
                <div class="book-toc">
                    <ul class="markdown-toc library-toc">
                        {% for section in doclist.sections %}
                        <li>
                            <a href="#{{section.id}}" >{{section.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                
                    <div class="library-article">
  
                        {% for section in doclist.sections %}
                        <h2 id="{{section.id}}" style="margin-top:20px">{{section.title}}</h2>


                        {% comment %}
                        {% for label in section.labels %}
                        <span class="badge badge-light">{{label.key}}: {{label.value}}</span>
                        {% endfor %}
                        {% endcomment %}

                        {% for item in section.steps %}
                        <div class="d-flex justify-content-start">
                            <div class="library-step-counter">
                                <h3>{{ forloop.index }}</h3>
                            </div>
                            <div class="library-step w-100 d-flex justify-content-start">
                                <div>
                                    {% case item.action %}
                                    {% when 'terminal' %}
                                    <div class="action-box badge badge-dark"><i class="fas fa-terminal"></i></div>
                                    {% when 'browser' %}
                                    <div class="action-box badge badge-dark"><i class="fab fa-internet-explorer"></i></div>
                                    {% when 'editor' %}
                                    <div class="action-box badge badge-dark"><i class="fas fa-code"></i></div>
                                    {% when 'info' %}
                                    <div class="action-box badge badge-dark"><i class="fas fa-info-circle"></i></div>
                                    {% else %}
                                    {% endcase %}
                                </div>
                                <div>
                                    {{item.description | markdownify}}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        <br>
                        <blockquote class="action_lable">
                            <p>
                                Each step starts with an action icon; this icon will give you an idea of what kind of work we will do in this step. <br>
                                <span class="action-box badge badge-dark"><i class="fas fa-terminal"></i></span> Terminal
                                <span class="action-box badge badge-dark"><i class="fab fa-internet-explorer"></i></span> Browser
                                <span class="action-box badge badge-dark"><i class="fas fa-code"></i></span> Code editor
                                <span class="action-box badge badge-dark"><i class="fas fa-info-circle"></i></span> Info
                            </p>
                        </blockquote>
                    </div>
            </section>
            
            
            
        </div>
    </div>
</div>


<!-- Begin Comments
================================================== -->
{% if jekyll.environment == 'production' %}
{% if page.comments != false %}
<div class="container-fluid">
    <div id="comments" class="row justify-content-center mb-5">
        <div class="col-md-12">
            {% include disqus.html %}
        </div>
    </div>
</div>
{% endif %}
{% endif %}
<!--End Comments
================================================== -->