---
layout: default
---

<section>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>
    <div class="library-article">
        {% if page.file == "docker-images-library" %}
        {% assign doclist = site.data.library.docker-images-library  %}
        {% endif %}

        <div id="accordion">
            {% for section in doclist.sections %}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link library-accordian-header-button" data-toggle="collapse" data-target="#{{section.id}}" aria-expanded="true" aria-controls="{{section.id}}">
                            {{section.title}}
                        </button>
                    </h5>
                </div>

                <div id="{{section.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        {% for item in section.steps %}
                        {% assign value = forloop.index | modulo:2 %}
                        <div class="d-flex justify-content-start">
                            <div class="library-step-counter">
                                <h3>{{ forloop.index }}</h3>

                                {% comment %}
                                
                                {% endcomment %}
                                
                            </div>
                                {% if value == 0 %}
                                        <div class="library-step w-100 library-step-even d-flex justify-content-start">
                                {% else %}
                                        <div class="library-step w-100 library-step-odd d-flex justify-content-start">
                                {% endif %}
                                            <div>
                                            {% case item.action %}
                                            {% when 'terminal' %}
                                            <div class="action-box badge badge-dark"><i class="fas fa-terminal"></i></div>
                                            {% when 'browser' %}
                                            <div class="action-box badge badge-dark"><i class="fab fa-internet-explorer"></i></div>
                                            {% when 'editor' %}
                                            <div class="action-box badge badge-dark"><i class="fas fa-code"></i></div>
                                            {% else %}
                                            {% endcase %}
                                            </div>
                                            
                                            <div>
                                                {{item.description | markdownify}}
                                            </div>
                                        </div>
                        </div>
                        
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        
    </div>
</section>